.App {
  text-align: center;
}




.Banner {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;

  /*list-style-type: none;*/
}

.Banner * {
  display: block;
  float: left;
}

.BannerLogo {
  width: 200px;
}

.BannerLogo * {
  display: block;
  float: left;
}

.AppIcon {
  height: 70px;
  width: 70px;
}

.PageButton {
  width: 10%;
}

.BottomBar {
  bottom: 0;
  padding-top: 100px;
  position: fixed;
  width: 100vw;
  height: 100px;
}