@import url('https://fonts.googleapis.com/css?family=Varela+Round');

:root {
  --darkest-color: 72, 61, 63;
  --medium-color: 158, 148, 140;
  --brightest-color: 244, 235, 217;

  --highlight-color: 88, 164, 176;
}

body {
  background-color: rgb(var(--medium-color));
  font-family: 'Varela Round', sans-serif;
  color: rgb(var(--brightest-color));

  background: conic-gradient(from 90deg at 3px 3px, rgb(var(--medium-color)) 90deg, rgb(156, 146, 138) 0) 0 0/120px 120px;;
}

.App {
  text-align: center;
}



.ExhibitContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}



.BottomBar {
  bottom: 0;
  margin-top: 100px;
  padding: 10px;
  position: fixed;
  width: 100vw;
  height: 100px;

  background-color: rgb(var(--darkest-color));
}