:root {
    --exhibit-width: 250px;
    --exhibit-height: 200px;
}


.Exhibit {
    position: relative;
    width: var(--exhibit-width);
    height: var(--exhibit-height);

    margin: 20px;
    transition: 0.5s;

    background-color: rgb(var(--brightest-color));
    color: rgb(var(--darkest-color));
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}

.Exhibit:hover {
    transform: translateY(-2px);
    box-shadow: 0px 12px 20px rgba(0,0,0,0.1);
}

.Exhibit * {
    transition: 0.5s;
}

.Exhibit>h1 {
    width: calc(var(--exhibit-width) - 20px);
    height: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 20px;
    text-align: left;
}

.Exhibit>.ExhibitMain {
    width: calc(var(--exhibit-width) - 32px);
    height: calc(var(--exhibit-height) - 20px);
    padding-left: 16px;
    padding-right: 16px;

    text-align: left;
    font-size: 18px;
}