:root {
    --exhibit-width: 250px;
    --exhibit-height: 200px;
}


.Exhibit {
    position: relative;
    width: var(--exhibit-width);
    height: var(--exhibit-height);

    margin: 20px;
    transition: 0.5s;

    background-color: rgb(var(--brightest-color));
    color: rgb(var(--darkest-color));
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}

.Exhibit:hover {
    transform: translateY(-2px) scale(1.005);
    box-shadow: 0px 12px 15px rgba(0,0,0,0.15);
}

.Exhibit * {
    transition: 0.5s;
}

.Exhibit>h1 {
    width: calc(var(--exhibit-width) - 40px);
    height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 20px 20px 0 0;

    font-size: 20px;
    text-align: left;

    background-color: rgb(var(--darkest-color));
    color: rgb(var(--brightest-color));
}

.Exhibit>.ExhibitMain {
    width: calc(var(--exhibit-width) - 32px);
    height: calc(var(--exhibit-height) - 20px);
    padding-left: 16px;
    padding-right: 16px;

    text-align: left;
    font-size: 18px;
}

.ExhibitMain h2 {
    color: rgb(var(--darkest-color));
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

.ExhibitMain h3 {
    color: rgb(var(--medium-color));
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
}